*{
    margin: 0px;
    padding: 0px;
}
p{
    font-family: 'Fredoka', sans-serif;
}
h1{
    font-family: 'Fredoka', sans-serif;
}
h2{
    font-family: 'Fredoka', sans-serif;
}
h4{
    font-family: 'Fredoka', sans-serif;
}
body{
    background-image: url(background.png);
}
.container{
    background-color: #f3f3f3;
    margin: 20px auto;
    width: 470px;
    display: block;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #888888;
    padding: 10px;
}
.header{
    display: flex;
    width: 100%;
    height: 60px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.header .foto{
    width: 60px;
    height: 60px;
    background-image: url(profil.jpg);
    border-radius: 60px;
    margin-right: 10px;
}
.header .nama{
    width: 200px;
    height: 20px;
    margin-bottom: 5px;
}
.header h4{
    font-size: 20px;
    font-weight: bold;
}
.header .ket{
    padding: 5px;
}
.header .keterangan{
    width: 380px;
    height: 20px;
}
.content{
    margin-left: 70px;
}
.content .t1{
    display: flex;
    justify-content:space-evenly;
}
.t1 .biodata{
    width: 45%;
}
.biodata h2{
    text-align: center;
}
.t1 .krs{
    width: 45%;
}
.t1 .krs table{
    border: 1px solid;
}
.t1 .krs th{
    border: 1px solid;
}
.t1 .krs td{
    border: 1px solid;
    padding: 5px;
}
.krs h2{
    text-align: center;
}
.t2 h2{
    text-align: center;
    margin-bottom: 10px;
}
.box{
    display: flex;
    justify-content:space-evenly;
}
.box .mahasiswa{
    text-align: center;
    font-weight: bold;
}
.box .mahasiswa img{
    width: 70px;
    height: 70px;
    background-color: aquamarine;
    border-radius: 70px;
}
.mahasiswa a{
    text-decoration: none;
    color: black;
}
.mahasiswa a:hover{
    color: green;
    text-decoration: underline;
}
.t3 {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}
.t3 h2{
    margin-bottom: 10px;
}
.t3 h4{
    text-align: left;
}
.t3 td{
    padding: 3px;
    border: 1px solid;
    text-align: center;
}
.t3 th{
    padding: 3px;
    border: 1px solid;
}
.t3 table{
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
}
.t3 tr:hover{
    background-color: lightgreen;
}
