*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("https://img.freepik.com/free-photo/close-up-white-marble-texture-background_53876-63512.jpg?w=740");
}
.container{
    background-color: #E8FFC2;
    padding-top: 10px;
    width: 1000px;
    margin: auto;
    padding: 0px 10px 10px 10px;
}
.header{
    text-align: center;
    margin-bottom: 20px;
    background-color:#0E185F ;
}
.header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-shadow: 3px 3px 10px #2fa4ff;
    color: #00FFDD;
}
.textwrap img{
    width: 50%;
    float: left;
    margin: 0px 10px 10px 10px;
}
.textwrap p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;}
.imgshow{
    margin-top: 10px;
}
.imgshow img{
    float:left;
    width: 20%;
}
.multikolom{
    float: left;
    margin-top: 10px;
}
.multikolom .kanan{
    width: 250px;
    height: 100px;
    background-color: red;
    float: left;
}
.multikolom .kiri{
    width: 250px;
    height: 100px;
    background-color: greenyellow;
    float: left;
}
.multikolom .tengah1{
    width: 250px;
    height: 100px;
    background-color: aqua;
    float: left;
}
.multikolom .tengah2{
    width: 250px;
    height: 100px;
    background-color: blueviolet;
    float: left;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}